#content {
    display: flex;
    align-content: center;
    justify-content: center;
}

table,
th {
    border: 1px solid black;
}

td {
    height: 100px;
    width:  100px;

}

.box-black {
    background: black;
}

.box-white {
    background: white;
}